<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial"charset="UTF-8">
    <meta name="description" content="Penalty app">
    <title>Penalty taker</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/js/script.js" type="module" ></script>
</head> 