<%- include('./partials/head') %>
<main>
    <section>
        <%projects.forEach((repo) => {%>

            <p><%= repo.node.owner.login %></p>
            <% console.log(repo.node.owner.avatarUrl) %>
            <img src="<%= repo.node.owner.avatarUrl %> " alt="hoofden">
        <%})%>
    </section>
</main>
<%- include('./partials/foot') %>

