<%- include('./partials/head') %>
<main>
    <section>
        <%projects.forEach((repo) => {%>

        <% console.log(repo.node.owner.avatarUrl) %>
        <div>
            <img class="hoofd" src="<%= repo.node.owner.avatarUrl %> " alt="hoofden">
            <img class="poppetje" src="/img/poppetje.svg" alt="hoofden">
        </div>
        <%})%>
    </section>
</main>
<%- include('./partials/foot') %>