* {
    margin: 0;
    padding: 0;
}


section {
    background-image: url('/img/Pitch.svg');
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
}

.doel {
    position: absolute;
    left: 0;
    right: 0;
    top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 32em;
    filter: drop-shadow(-7px -5px 4px rgb(0 0 0 / 0.6));

}

.bal {
    position: absolute;
    left: 48%;
    bottom: 15vh;
    width: 4em;
    filter: drop-shadow(-5px 8px 4px rgb(0 0 0 / 0.6));
}

article {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    gap: 40px 1px;
    grid-auto-rows: minmax(100px, auto);
    height: 40vh;
    width: 100vw;
    overflow: hidden;
    /* animation: springen 0.5s infinite cubic-bezier(0.895, 0.030, 0.685, 0.220); */
}

article div:nth-of-type(even) {
    margin-top: 1em;
}

/* 
.snellercss {
    animation: springen 0.1s infinite cubic-bezier(0.895, 0.030, 0.685, 0.220);
} */

.man {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    filter: drop-shadow(-1px -4px 4px rgb(0 0 0 / 0.4));
}

.hoofdj {
    width: 50%;
    border-radius: 100px;
    margin: auto 0;
}

.voetballer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 12vh;
    width: 100px;
    align-items: center;
    filter: drop-shadow(-5px 8px 4px rgb(0 0 0 / 0.6));
    transition: .2s;


}

.voetballer:hover {
    transform: scale(1.1);

}

.schietcss {
    animation: jorginho 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.balcss {
    animation: ball .8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.popupcss {
    animation: popupani 1s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.hoofd {
    width: 100%;
    border-radius: 100px;
}

.poppetje {
    width: 100%;
}



.popup {
    /* display: none;  */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 50%;
    /* Full height */
    overflow: auto;
    visibility: hidden;
}

.popupcontent {
    position: relative;
    background-color: #0d1117;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-header {
    padding: 2px 16px;
    background-color: #161b22;
    color: #c9d1d9;
}

.popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #c9d1d9;
    padding: 2em;
}

.popup-body a {
    margin-top: 1em;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    text-decoration: none;
}

.popup-body p {
    margin-top: 1em;
    overflow: hidden;
}

.popup-body a:hover {
    font-weight: 600;
    color: grey;
    white-space: nowrap;
    text-decoration: none;
}

.popup-body img {
    width: 100px;
    height: auto;
    border-radius: 100px;
}


@keyframes springen {
    0% {
        margin-top: 0em
    }

    50% {
        margin-top: -0.5em
    }

    100% {
        margin-top: 0em;
    }

}

@keyframes jorginho {
    0% {
        left: 0;
    }

    53% {
        left: 34%;
        margin-bottom: 0em;
    }

    75% {
        left: 38%;
        margin-bottom: 3em;
    }

    100% {
        left: 46%;
    }
}

@keyframes ball {
    0% {
        bottom: 15vh;
        left: 49%;
    }

    15% {
        bottom: 25vh;
        left: 51%;
    }

    30% {
        bottom: 35vh;
        left: 53%;
    }

    45% {
        bottom: 45vh;
        left: 56%;
    }

    60% {
        bottom: 65vh;
        left: 60%;
    }

    75% {
        bottom: 45vh;
        left: 60%;
    }

    90% {
        bottom: 50vh;
        left: 60%;
    }

    100% {
        bottom: 45vh;
        left: 60%;
    }
}

@keyframes popupani {
    0% {
        visibility: visible;
        transform: scale(1);
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: scale(1.4);
    }

    75% {
        transform: scale(.8);
    }

    100% {
        visibility: visible;
        transform: scale(1);
    }
}