<<<<<<< Updated upstream


section{
    background-image: url( '/img/Pitch.svg' );
    width: 100%;
    background-repeat: no-repeat;
    margin: auto;
}
=======
body {
    background-color: red;
}
>>>>>>> Stashed changes
