section{
    background-image: url( '/img/Pitch.svg' );
    width: 100%;
    background-repeat: no-repeat;
    margin: auto;
}

.hoofd {
    width: 100%;
    border-radius: 100px;
}

.poppetje {
    width: 100%;
}

main div {
    display: flex;
    flex-direction: column;
    width: 200px;   
}